nav{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     padding: 0.5rem;
     background-color: rgba(68, 64, 122, 0.932);
     margin-bottom: 1rem;
     box-shadow: 0px 0px 8px #d2b5ec;
}

a:-webkit-any-link{
     color: #f0f0f0e1;
     text-decoration: none;
     font-weight: 300;
     font-size: 18px;
}

.about-link{
     transform: translate(-1.5rem, 2px);
}

a:-webkit-any-link:hover{
     text-decoration: underline;
     text-underline-offset: 0.5rem;
}