.species{

}

.species-list{
     display: flex;
     flex-direction: column;
     margin-top: 2rem;
     justify-content: center;
     align-items: center;
     gap: 4rem;
}

.species-item{
     display: flex;
     gap: 3rem;
     align-items: center;
}
.species-item>div>h2{
     padding-left: 1.5rem;
     -webkit-text-stroke: 1px #8a91f0;
     color: transparent;
}
.species-item>div>p{
     max-width: 600px;
     padding-left: 1.5rem;
     text-align: justify;
     font-weight: 300;
}
.species-img-container{
     width: 300px;
     height: 200px;   
}

.species-img{
     width: 100%;
     height: 100%;
     border-radius: 30px;
}

@media(max-width: 838px){
     .species-item{
          flex-direction: column;
     }
}